.card {
    background: linear-gradient(#ffffff 50%, #000 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
}
.card:hover {
    background-position: 0 100%;
}
.img-wrapper {
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.card:hover {
    background-position: 0 100%;
}
.card:hover h4 {
    color: #ffffff;
}

.card:hover p {
    color: #f0f0f0;
}
.card:hover .img-wrapper {
    background-color: #ffffff;
}